# no ffmpeg
BR2_PACKAGE_FFMPEG=n
BR2_PACKAGE_FFMPEG_GPL=n
BR2_PACKAGE_FFMPEG_FFPLAY=n
BR2_PACKAGE_FFMPEG_FFPROBE=n
BR2_PACKAGE_FFMPEG_AVRESAMPLE=n
BR2_PACKAGE_FFMPEG_POSTPROC=n
BR2_PACKAGE_FFMPEG_ENCODERS=""
BR2_PACKAGE_FFMPEG_DECODERS=""
BR2_PACKAGE_FFMPEG_MUXERS=""
BR2_PACKAGE_FFMPEG_DEMUXERS=""
BR2_PACKAGE_FFMPEG_PARSERS=""
BR2_PACKAGE_FFMPEG_BSFS=""
BR2_PACKAGE_FFMPEG_PROTOCOLS=""
BR2_PACKAGE_FFMPEG_EXTRACONF=""

# no libretro
BR2_PACKAGE_RETROARCH=n
BR2_PACKAGE_LIBRETRO_CORE_INFO=n
BR2_PACKAGE_LIBRETRO_2048=n
BR2_PACKAGE_LIBRETRO_81=n
BR2_PACKAGE_LIBRETRO_A5200=n
BR2_PACKAGE_LIBRETRO_ARDUOUS=n
BR2_PACKAGE_LIBRETRO_ATARI800=n
BR2_PACKAGE_LIBRETRO_BK_EMULATOR=n
BR2_PACKAGE_LIBRETRO_BLUEMSX=n
BR2_PACKAGE_LIBRETRO_CANNONBALL=n
BR2_PACKAGE_LIBRETRO_CAP32=n
BR2_PACKAGE_LIBRETRO_CHAILOVE=n
BR2_PACKAGE_LIBRETRO_DINOTHAWR=n
BR2_PACKAGE_LIBRETRO_ECWOLF=n
BR2_PACKAGE_LIBRETRO_FAKE08=n
BR2_PACKAGE_LIBRETRO_FCEUMM=n
BR2_PACKAGE_LIBRETRO_FMSX=n
BR2_PACKAGE_LIBRETRO_FREECHAF=n
BR2_PACKAGE_LIBRETRO_FREEINTV=n
BR2_PACKAGE_LIBRETRO_FUSE=n
BR2_PACKAGE_LIBRETRO_GAMBATTE=n
BR2_PACKAGE_LIBRETRO_GEARBOY=n
BR2_PACKAGE_LIBRETRO_GEARCOLECO=n
BR2_PACKAGE_LIBRETRO_GEARSYSTEM=n
BR2_PACKAGE_LIBRETRO_GENESISPLUSGX=n
BR2_PACKAGE_LIBRETRO_GENESISPLUSGXWIDE=n
BR2_PACKAGE_LIBRETRO_GME=n
BR2_PACKAGE_LIBRETRO_GONG=n
BR2_PACKAGE_LIBRETRO_GPSP=n
BR2_PACKAGE_LIBRETRO_GW=n
BR2_PACKAGE_LIBRETRO_HANDY=n
BR2_PACKAGE_LIBRETRO_JAXE=n
BR2_PACKAGE_LIBRETRO_JUMPNBUMP=n
BR2_PACKAGE_LIBRETRO_LOWRES_NX=n
BR2_PACKAGE_LIBRETRO_LUTRO=n
BR2_PACKAGE_LIBRETRO_MAME2000=n
BR2_PACKAGE_LIBRETRO_MAME2003=n
BR2_PACKAGE_LIBRETRO_MAME2003_PLUS=n
BR2_PACKAGE_LIBRETRO_MEDNAFEN_PCE_FAST=n
BR2_PACKAGE_LIBRETRO_MEDNAFEN_SUPERGRAFX=n
BR2_PACKAGE_LIBRETRO_MEDNAFEN_WSWAN=n
BR2_PACKAGE_LIBRETRO_MGBA=n
BR2_PACKAGE_LIBRETRO_MINIVMAC=n
BR2_PACKAGE_LIBRETRO_MRBOOM=n
BR2_PACKAGE_LIBRETRO_NUMERO=n
BR2_PACKAGE_LIBRETRO_NXENGINE=n
BR2_PACKAGE_LIBRETRO_O2EM=n
BR2_PACKAGE_LIBRETRO_PCSX_REARMED=n
BR2_PACKAGE_LIBRETRO_PICODRIVE=n
BR2_PACKAGE_LIBRETRO_POCKETCDG=n
BR2_PACKAGE_LIBRETRO_POKEMINI=n
BR2_PACKAGE_LIBRETRO_POTATOR=n
BR2_PACKAGE_LIBRETRO_PRBOOM=n
BR2_PACKAGE_LIBRETRO_PROSYSTEM=n
BR2_PACKAGE_LIBRETRO_QUASI88=n
BR2_PACKAGE_LIBRETRO_QUICKNES=n
BR2_PACKAGE_LIBRETRO_RACE=n
BR2_PACKAGE_LIBRETRO_REMINISCENCE=n
BR2_PACKAGE_LIBRETRO_RETRO8=n
BR2_PACKAGE_LIBRETRO_SCUMMVM=n
BR2_PACKAGE_LIBRETRO_SCUMMVM_LEGACY=n
BR2_PACKAGE_LIBRETRO_SMSPLUS=n
BR2_PACKAGE_LIBRETRO_SNES9X2002=n
BR2_PACKAGE_LIBRETRO_SNES9X2005=n
BR2_PACKAGE_LIBRETRO_STELLA2014=n
BR2_PACKAGE_LIBRETRO_THEODORE=n
BR2_PACKAGE_LIBRETRO_TIC80=n
BR2_PACKAGE_LIBRETRO_TYRQUAKE=n
BR2_PACKAGE_LIBRETRO_UAE4ALL=n
BR2_PACKAGE_LIBRETRO_UW8=n
BR2_PACKAGE_LIBRETRO_VAPORSPEC=n
BR2_PACKAGE_LIBRETRO_VECX=n
BR2_PACKAGE_LIBRETRO_VEMULATOR=n
BR2_PACKAGE_LIBRETRO_WASM4=n
BR2_PACKAGE_LIBRETRO_X1=n
BR2_PACKAGE_LIBRETRO_XRICK=n

# no sdlbook (with selected depends)
BR2_PACKAGE_SDLBOOK=n
